<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add a New Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="form-section">
        <div class="form_input">
            <h1>Add a New Show</h1>
            <form action="/shows/create" method="POST">
            {% csrf_token %}
            
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'title' in message.tags %}
                            <span class="field-error">⚠️ {{ message }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form_row">
                <div class="form-group">
                    <label for="network">Network:</label>
                    <input type="text" id="network" name="network" required>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'network' in message.tags %}
                                <span class="field-error">⚠️ {{ message }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="release_date">Release Date:</label>
                    <input type="date" id="release_date" name="release_date" required>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'release_date' in message.tags %}
                                <span class="field-error">⚠️ {{ message }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                </div>    
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'description' in message.tags %}
                    <span class="field-error">⚠️ {{ message }}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
            </div>
            
            <div class="btn">
                <button type="submit">Create</button>
            </div>
        </form>
        </div>
        <div class="link">
            <a href="/shows">Go Back</a>
        </div>
    </div>
</body>
</html>