/* Contains styles for:                       
    - Global box sizing reset                   
    - Page container layout                      
    - Button links styling  */
* {
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
}
a {
    display: block;
    width: 200px;
    text-decoration: none;
    background-color: rgb(219, 162, 47);
    color: rgb(40, 39, 39);
    padding: 8px 15px;
    cursor: pointer;
    border: 2px solid black;
    margin-bottom: 15px;
    text-align: center;
}